<div class="account-dashboard">
  <h4>{{ "Account.AccountDashboard.greeting" | translate }}</h4>
  <p [innerHTML]="'Account.AccountDashboard.paragraph' | translate"></p>

  <div class="row g-4">
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/account-details"
      >
        <img src="./assets/images/icons/person.png" class="mb-3" alt="icon" />
        {{ "Account.AccountLinks.accountDetails.title" | translate }}
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/orders"
      >
        <img src="./assets/images/icons/list.png" class="mb-3" alt="icon" />
        {{ "Account.AccountLinks.orders.title" | translate }}
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/addresses"
      >
        <img src="./assets/images/icons/location.png" class="mb-3" alt="icon" />
        {{ "Account.AccountLinks.addresses.title" | translate }}
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/wishlist"
      >
        <img src="./assets/images/icons/heart.png" class="mb-3" alt="icon" />
        {{ "Account.AccountLinks.wishlist.title" | translate }}
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
      >
        <img src="./assets/images/icons/logout.png" class="mb-3" alt="icon" />
        {{ "Account.AccountLinks.logout.title" | translate }}
      </div>
    </div>
  </div>
</div>
