<div class="account-dashboard">
  <h4>👋🏻 Hello, adelsaudii !</h4>
  <p>
    From your account dashboard you can view your <a
      routerLink="/profile/orders"
      >recent orders</a
    >, manage your <a routerLink="/profile/addresses"
      >shipping and billing addresses</a
    >, and <a routerLink="/profile/account-details"
      >edit your password and account details.</a
    >
  </p>

  <div class="row g-4">
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/account-details"
      >
        <img src="./assets/images/icons/person.png" class="mb-3" alt="icon" />
        Account details
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/orders"
      >
        <img src="./assets/images/icons/list.png" class="mb-3" alt="icon" />
        Orders
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/addresses"
      >
        <img src="./assets/images/icons/location.png" class="mb-3" alt="icon" />
        Addresses
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
        routerLink="/profile/wishlist"
      >
        <img src="./assets/images/icons/heart.png" class="mb-3" alt="icon" />
        Wishlist
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="account-link h-100 pointer fs-5 px-5 py-4 rounded-3 d-flex flex-column justify-content-center align-items-center"
      >
        <img src="./assets/images/icons/logout.png" class="mb-3" alt="icon" />
        Logout
      </div>
    </div>
  </div>
</div>
