<app-home-navbar></app-home-navbar>
<app-mobile-filter-container
  *ngIf="filtersOpened"
  [menuOpened]="filtersOpened"
  (menuStatusChange)="onMenuStatusChange($event)"
></app-mobile-filter-container>
<section class="categories">
  <div class="container">
    <swiper-container
      slides-per-view="3"
      [spaceBetween]="20"
      [breakpoints]="categoriesBreakpoints"
    >
      <swiper-slide *ngFor="let item of [1, 2, 3]">
        <div
          class="category rounded-3 d-flex justify-content-start align-items-center gap-3 overflow-hidden p-3 pointer"
        >
          <img
            src="./assets/images/shop/categories/1.png"
            class="rounded-3"
            alt="category image"
          />

          <div class="category-title">
            <h3 class="h5">Abstract and Plastic art</h3>
            <p class="mb-0">150 Project</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section class="shop py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 filters">
        <div class="filtering-container py-5 px-4 rounded-3">
          <div class="price-filter">
            <h4 class="mb-4">Price</h4>

            <p-slider [(ngModel)]="rangeValues" [range]="true" />

            <div
              class="price-filter-controls d-flex align-items-center justify-content-between gap-2 mt-3 border-bottom py-4"
            >
              <p class="mb-0">
                <span class="price-filter-label">Price: </span>
                <span>{{
                  rangeValues[0] | currency : "£" : "symbol" : "1.0-0"
                }}</span>
                -
                <span>{{
                  rangeValues[1] | currency : "£" : "symbol" : "1.0-0"
                }}</span>
              </p>

              <button class="main-btn rounded-5 px-4 py-1 fs-6">filter</button>
            </div>
          </div>

          <div class="filter-box py-4">
            <div
              class="filter-title d-flex align-items-center justify-content-between mb-4"
            >
              <h4 class="mb-0">Size</h4>

              <i class="fa-solid fa-angle-down"></i>
            </div>

            <div class="filter-options">
              <div
                class="filter-option d-flex justify-content-between align-items-center mb-3"
                *ngFor="let option of filterOptions; let i = index"
              >
                <div class="d-flex align-items-center gap-2">
                  <p-checkbox
                    [(ngModel)]="option.isChecked"
                    [binary]="true"
                    value="True"
                    inputId="filterOption{{ i }}"
                  />
                  <label
                    for="filterOption{{ i }}"
                    [ngClass]="{ 'checked': option.isChecked, }"
                    >{{ option.label }}
                  </label>
                </div>
                <p
                  class="products-quantity rounded-5 px-3 py-1 mb-0"
                  [ngClass]="{ 'checked': option.isChecked, }"
                >
                  {{ option.quantity }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="shop-products py-4">
          <div
            class="filter-preview-controls d-flex align-items-center justify-content-between"
          >
            <h2 class="fs-4 shop-category-title">
              Abstract and plastic art <span>(150 result)</span>
            </h2>

            <div class="controls">
              <div class="desktop-controls d-flex align-items-center gap-3">
                <div class="preview-options">
                  <i class="bx bx-grid-horizontal pointer"></i>
                  <i class="bx bx-grid-small active pointer"></i>
                  <i class="bx bxs-grid pointer"></i>
                </div>

                <p-dropdown
                  [options]="cities"
                  [(ngModel)]="selectedCity"
                  optionLabel="name"
                  placeholder="Sort by popularity"
                />
              </div>

              <div
                class="mobile-controls d-none justify-content-between align-items-center w-100"
              >
                <button
                  class="filter-sidebar-btn btn d-flex align-items-center gap-2 p-0"
                  (click)="openFiltersMenu()"
                >
                  <i class="fa-solid fa-bars"></i>
                  <span>Show sidebar</span>
                </button>

                <img src="./assets/images/icons/sort.svg" alt="sort icon" />
              </div>
            </div>
          </div>

          <div class="selected-filter-chips d-flex align-items-center gap-2">
            <span
              class="chip d-flex align-items-center px-3 py-1 rounded-2 gap-2"
              >30x40 <i class="fa-solid fa-xmark pointer"></i
            ></span>

            <button class="btn clear-btn text-decoration-underline">
              Clear all
            </button>
          </div>

          <div class="row g-4 mt-lg-3 mt-1">
            <div
              class="col-lg-4 col-md-6"
              *ngFor="
                let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                  | paginate
                    : {
                        id: 'product_pagination',
                        itemsPerPage: pageSize,
                        currentPage: currentPage,
                        totalItems: 11
                      }
              "
            >
              <div
                class="product px-2 py-3 rounded-4 pointer"
                routerLink="/product-details"
              >
                <div class="product-image mb-3 position-relative">
                  <div
                    class="dimensions position-absolute rounded-5 d-flex gap-2 align-items-center px-2 py-1 fw-semibold"
                  >
                    <img src="./assets/images/icons/dimension.png" alt="icon" />
                    80x50 cm
                  </div>

                  <div
                    class="heart-icon position-absolute d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-heart"></i>
                  </div>
                  <img src="./assets/images/shop/1.png" alt="painting" />
                </div>

                <div class="product-body">
                  <div>
                    <div
                      class="product-title d-flex justify-content-between align-items-center"
                    >
                      <h4 class="h5 mb-0 fw-normal">Product 1</h4>
                      <p class="mb-0">
                        4.1
                        <i class="fa-solid fa-star star-color"></i>
                      </p>
                    </div>
                  </div>

                  <div class="price heading-color">
                    <span class="discount"> 435.00 </span>
                    435.00 SAR
                  </div>

                  <div
                    class="product-actions d-flex align-items-center gap-2 mt-3"
                  >
                    <button class="main-btn px-4 py-2 rounded-5 fw-semibold">
                      <i class="fa-solid fa-cart-shopping"></i>
                      Add to cart
                    </button>
                    <button
                      class="quick-view-btn d-flex align-items-center justify-content-center"
                      (click)="openQuickViewModal()"
                    >
                      <img
                        src="./assets/images/icons/quick view eye.png"
                        alt="quick view"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <pagination-controls
              id="product_pagination"
              class="products-pagination"
              (pageChange)="pageChanged($event)"
              (pageBoundsCorrection)="pageChanged($event)"
              [maxSize]="7"
              [directionLinks]="true"
              [autoHide]="true"
              previousLabel=""
              nextLabel=""
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
