<table class="w-100">
  <tr class="border-bottom">
    <th class="px-4 py-3 text-center fw-medium"></th>
    <th class="px-4 py-3 text-center fw-medium"></th>
    <th class="px-4 py-3 text-center fw-medium">Product</th>
    <th class="px-4 py-3 text-center fw-medium">Price</th>
    <th class="px-4 py-3 text-center fw-medium">Quantity</th>
    <th class="px-4 py-3 text-center fw-medium">Subtotal</th>
  </tr>

  <tr class="border-bottom" *ngFor="let item of cartDetails.cartItems">
    <td class="pt-5 pb-4 px-3">
      <i
        class="fa-solid fa-xmark fs-2 pointer text-danger"
        (click)="RemoveFromCart(item.productId, item.quantity)"
      ></i>
    </td>
    <td class="pt-5 pb-4 px-3">
      <div class="product-image rounded-3 overflow-hidden">
        <img
          [src]="'https://ctrl-p.runasp.net/' + item.productDetails.url[0]"
          alt="product image"
        />
      </div>
    </td>
    <td class="pt-5 pb-4 px-3">
      <div class="product-details text-center">
        <p class="mb-1 fs-6 product-id heading-color text-decoration-underline">
          B2003
        </p>
        <p class="mb-1">size: 60x80</p>
        <p class="mb-1">material: قماش كانفس</p>
        <p class="mb-0">Frame: + frame</p>
      </div>
    </td>
    <td class="pt-5 pb-4 px-3">
      <p class="mb-0 price">
        {{ item.productDetails.price | currency : "RSA " }}
      </p>
    </td>
    <td class="pt-5 pb-4 px-3">
      <div
        class="quantity-input d-flex gap-2 align-items-center justify-content-between rounded-5 px-3 py-1"
      >
        <button
          class="btn p-0"
          (click)="changeProductQuantity(item.productId, -1)"
        >
          -
        </button>
        <input type="text" class="text-center" [value]="item.quantity" />
        <button
          class="btn p-0"
          (click)="changeProductQuantity(item.productId, 1)"
        >
          +
        </button>
      </div>
    </td>

    <td class="pt-5 pb-4 px-3">
      <p class="mb-0 Subtotal">
        {{ item.productDetails.price * item.quantity | currency : "RSA " }}
      </p>
    </td>
  </tr>
</table>
