<app-home-navbar></app-home-navbar>

<div class="container my-5" [dir]="'dir' | translate">
  <div class="row">
    <div class="col-md-6">
      <div class="image" [class.ar]="direction === 'rtl'">
        <img src="/assets/images/icons/empty.svg" alt="Not found 404" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="content d-flex align-items-center flex-column h-100">
        <h1 class="heading-color mb-2 fw-bold">404</h1>
        <h2 class="h4 mb-3 fw-bold">{{ "NotFoundPage.title" | translate }}</h2>
        <p class="mb-3 fs-5 fw-light text-center">
          {{ "NotFoundPage.subTitle" | translate }}
        </p>
        <a routerLink="/home" class="heading-color text-decoration-underline"
          >{{ "NotFoundPage.btn" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
