<app-home-navbar></app-home-navbar>

<section class="checkout my-lg-5 mt-3 mb-4">
  <div class="container" [dir]="'dir' | translate">
    <div
      class="bread-crumb d-flex justify-content-start align-items-center mb-5"
    >
      <p-breadcrumb [model]="items" [home]="home" />
    </div>

    <div class="row gx-3 gy-4">
      <div class="col-lg-8">
        <div class="billing-details">
          <h3 class="mb-4 fs-4 fw-bold">
            {{ "BillingAndOrderSummary.BillingDetails.title" | translate }}
          </h3>

          <form
            class="checkout-form"
            [formGroup]="billingAddressForm"
            (ngSubmit)="onSubmit()"
          >
            <div
              class="form-group d-flex align-items-center justify-content-center gap-3 mb-3"
            >
              <div class="input-container w-100">
                <label for="fname" class="form-label"
                  >{{
                    "BillingAndOrderSummary.BillingDetails.fields.firstName.label"
                      | translate
                  }}
                  <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="
                    'BillingAndOrderSummary.BillingDetails.fields.firstName.placeholder'
                      | translate
                  "
                  id="fname"
                  [(ngModel)]="fname"
                  [ngModelOptions]="{ standalone: true }"
                  required
                />
              </div>

              <div class="input-container w-100">
                <label for="lname" class="form-label"
                  >{{
                    "BillingAndOrderSummary.BillingDetails.fields.lastName.label"
                      | translate
                  }}
                  <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="
                    'BillingAndOrderSummary.BillingDetails.fields.lastName.placeholder'
                      | translate
                  "
                  id="lname"
                  [(ngModel)]="lname"
                  [ngModelOptions]="{ standalone: true }"
                  required
                />
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="company" class="form-label"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.companyName.label"
                    | translate
                }}
              </label>
              <input
                type="text"
                class="form-control"
                id="company"
                formControlName="companyName"
              />
            </div>

            <div class="form-group mb-3">
              <label for="region" class="form-label d-block"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.countryRegion.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <select
                name="region"
                id="region"
                class="w-100 form-select"
                required
                formControlName="country"
              >
                <option value="" disabled selected>
                  {{
                    "BillingAndOrderSummary.BillingDetails.fields.countryRegion.placeholder"
                      | translate
                  }}
                </option>
                <option value="Country 1">Country 1</option>
                <option value="Country 2">Country 2</option>
                <option value="Country 3">Country 3</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="street" class="form-label"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.streetAddress.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control mb-3"
                id="street"
                formControlName="streetAddress"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.streetAddress.placeholder1'
                    | translate
                "
                required
              />
              <input
                type="text"
                class="form-control"
                id="apartment"
                formControlName="addressText"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.streetAddress.placeholder2'
                    | translate
                "
              />
            </div>

            <div class="form-group mb-3">
              <label for="city" class="form-label"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.city.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="city"
                formControlName="city"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.city.label'
                    | translate
                "
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="state" class="form-label d-block"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.state.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <select
                name="state"
                id="state"
                class="w-100 form-select"
                formControlName="state"
                required
              >
                <option value="" disabled selected>
                  {{
                    "BillingAndOrderSummary.BillingDetails.fields.state.placeholder"
                      | translate
                  }}
                </option>
                <option value="State 1">State 1</option>
                <option value="State 2">State 2</option>
                <option value="State 3">State 3</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="postcode" class="form-label"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.postcode.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="postcode"
                formControlName="zipCode"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.postcode.placeholder'
                    | translate
                "
                required
              />
            </div>

            <div class="form-group mb-3">
              <label for="phone" class="form-label"
                >{{
                  "BillingAndOrderSummary.BillingDetails.fields.phone.label"
                    | translate
                }}
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="phone"
                formControlName="phone"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.phone.placeholder'
                    | translate
                "
                required
              />
            </div>

            <div
              class="different-address d-flex align-items-center justify-content-start gap-3 my-4"
            >
              <p-checkbox
                [binary]="true"
                value="True"
                inputId="shipping-checkbox"
              />
              <label for="shipping-checkbox"
                >{{
                  "BillingAndOrderSummary.BillingDetails.differentAddress.label"
                    | translate
                }}
              </label>
            </div>

            <div class="form-group">
              <label for="order-notes" class="form-label">
                {{
                  "BillingAndOrderSummary.BillingDetails.fields.orderNotes.label"
                    | translate
                }}
              </label>
              <textarea
                class="form-control"
                id="order-notes"
                formControlName="note"
                [placeholder]="
                  'BillingAndOrderSummary.BillingDetails.fields.orderNotes.placeholder'
                    | translate
                "
                rows="7"
              ></textarea>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="order-summary py-5 px-4 rounded-2">
          <h4 class="fw-bold mb-4">
            {{ "BillingAndOrderSummary.OrderSummary.title" | translate }}
          </h4>

          <div class="order-details p-2 mb-4 rounded-2">
            <div
              class="subtotal border-bottom d-flex justify-content-between align-items-center py-2 mb-4"
            >
              <h4 class="mb-0">
                {{
                  "BillingAndOrderSummary.OrderSummary.header.product"
                    | translate
                }}
              </h4>
              <p class="mb-0 fs-5">
                {{
                  "BillingAndOrderSummary.OrderSummary.header.subtotal"
                    | translate
                }}
              </p>
            </div>

            <div class="products border-bottom py-2">
              <div
                class="product border-bottom d-flex justify-content-between align-items-center py-2 mb-4"
                *ngFor="let item of cartDetails.cartItems"
              >
                <div class="product-details d-flex align-items-center gap-1">
                  <img
                    [src]="
                      'https://ctrl-p.runasp.net/' + item.productDetails.url[0]
                    "
                    alt="product image"
                    class="rounded-2"
                  />
                  <div class="details text-center">
                    <p
                      class="mb-1 fs-6 product-id heading-color text-decoration-underline"
                    >
                      B2003
                    </p>
                    <p class="mb-1">60x80</p>
                    <p class="mb-0">+ frame</p>
                  </div>
                </div>

                <p class="product-total-price fs-5">
                  {{ item.quantity }}X
                  {{ item.productDetails.price | currency : "RSA " }}
                </p>
              </div>
            </div>

            <div
              class="subtotal border-bottom d-flex justify-content-between align-items-center py-2 mb-4"
            >
              <h4 class="h6 fw-bold mb-0">
                {{
                  "BillingAndOrderSummary.OrderSummary.subtotal.title"
                    | translate
                }}
              </h4>
              <p class="mb-0 fs-5">
                {{ cartDetails.totalPrice | currency : "RSA " }}
              </p>
            </div>

            <div
              class="shipping border-bottom d-flex justify-content-between align-items-center py-2"
            >
              <h4 class="h6 mb-0">
                {{
                  "BillingAndOrderSummary.OrderSummary.shipping.title"
                    | translate
                }}
              </h4>
              <p class="text-end fs-5 mb-0">Free shipping</p>
            </div>

            <div
              class="total d-flex justify-content-between align-items-center pt-4"
            >
              <h4 class="h6 mb-0">
                {{
                  "BillingAndOrderSummary.OrderSummary.total.title" | translate
                }}
              </h4>
              <p class="mb-0 fw-bold fs-4 total-price">
                {{ cartDetails.totalPrice | currency : "RSA " }}
              </p>
            </div>
          </div>

          <div class="payment-method border-bottom py-2">
            <div class="method d-flex align-items-center mb-2">
              <p-radioButton value="cash" [(ngModel)]="method" inputId="cash" />
              <label for="cash" class="mx-2">
                {{
                  "BillingAndOrderSummary.PaymentMethod.methods.cash"
                    | translate
                }}
              </label>
            </div>

            <div class="method d-flex align-items-center mb-2">
              <p-radioButton value="card" [(ngModel)]="method" inputId="card" />
              <label for="card" class="mx-2">
                {{
                  "BillingAndOrderSummary.PaymentMethod.methods.bankTransfer"
                    | translate
                }}
              </label>
            </div>

            <!-- <div class="method d-flex align-items-center mb-2">
              <p-radioButton
                value="paypal"
                [(ngModel)]="ingredient"
                inputId="paypal"
              />
              <label for="paypal" class="mx-2">
                {{
                  "BillingAndOrderSummary.PaymentMethod.methods.paypal"
                    | translate
                }}
                <span>
                  {{
                    "BillingAndOrderSummary.PaymentMethod.methods.paypalOptions"
                      | translate
                  }}</span
                >
              </label>
            </div> -->
            <p class="text-danger text-center mb-1">{{ this.errMsg }}</p>
          </div>

          <p class="py-3 border-bottom">
            {{ "BillingAndOrderSummary.Terms.privacyPolicy.text" | translate }}
            <a href="#" class="heading-color">
              {{
                "BillingAndOrderSummary.Terms.privacyPolicy.linkText"
                  | translate
              }}</a
            >
          </p>

          <div
            class="terms d-flex align-items-center justify-content-start gap-3 my-4"
          >
            <p-checkbox
              [binary]="true"
              value="True"
              inputId="terms-conditions"
            />
            <label for="terms-conditions">
              {{ "BillingAndOrderSummary.Terms.acceptTerms.text" | translate }}
              <span class="text-danger">*</span>
            </label>
          </div>

          <button
            class="main-btn py-3 px-4 rounded-5 w-100 text-uppercase fw-bold"
            (click)="onSubmit()"
            type="submit"
          >
            {{ "BillingAndOrderSummary.CheckoutButton.label" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
