.checkout {
  p-breadcrumb ::ng-deep {
    .p-breadcrumb {
      ol {
        li {
          a {
            .p-menuitem-text {
              font-size: 1.1rem;
            }
          }

          &:last-child a {
            .p-menuitem-text {
              font-weight: 500;
              color: var(--white-text);
            }
          }
        }
      }
    }
  }

  .row {
    .billing-details {
      .form-group {
        .form-control,
        .form-select {
          background: #2b2b2b;
          border: 1px solid #2b2b2b;
          padding: 0.9rem 0.8rem;
          color: var(--white-text);
          border-radius: 10px;

          &:focus {
            border-color: var(--white-text);
            box-shadow: unset;
          }

          &::placeholder {
            color: var(--paragraph-text-color);
          }

          &.error {
            border-color: var(--danger-color);
          }
          &.success {
            border-color: var(--success-color);
          }
        }

        textarea {
          resize: none;
        }
      }
    }

    .order-summary {
      background: #292929a1;
      backdrop-filter: blur(147px);
      box-shadow: 0px 4px 189.4px 18px #00000040;

      p {
        color: var(--paragraph-text-color);

        &.total-price {
          color: var(--white-text);
        }
      }

      .order-details {
        background: #ffffff0d;

        .product {
          .product-image {
            width: 100px;
            height: 100px;
          }
        }
      }

      .payment-method {
        .method {
          p-radioButton ::ng-deep .p-radiobutton {
            width: 18px;
            height: 18px;
            .p-radiobutton-box {
              width: 18px;
              height: 18px;
              border: 1px solid var(--white-text);
              background-color: transparent;

              .p-radiobutton-icon {
                width: 10px;
                height: 10px;
                background: var(--main-color);
              }
              &.p-highlight {
                border: 1px solid var(--white-text);
                background: transparent;
              }
              &:hover {
                border-color: var(--main-color);
              }
              &.p-focus {
                box-shadow: unset;
              }
            }
          }

          label {
            font-size: 1.2rem;
            span {
              color: var(--paragraph-text-color);
              font-size: 0.8rem;
            }
          }
        }
      }

      .terms {
        p-checkbox ::ng-deep {
          width: 20px;
          height: 20px;
          .p-checkbox {
            width: 20px;
            height: 20px;
            .p-checkbox-box {
              width: 20px;
              height: 20px;
            }
          }
        }

        label {
          color: var(--paragraph-text-color);
        }
      }

      .main-btn {
        font-size: 0.9rem;
      }
    }

    .different-address,
    .terms {
      p-checkbox ::ng-deep {
        width: 30px;
        height: 30px;
        .p-checkbox {
          width: 30px;
          height: 30px;
          .p-checkbox-box {
            width: 30px;
            height: 30px;
            background: #656565;
            border-color: var(--white-text);
            .p-icon {
              width: 12px;
              height: 12px;
            }

            &.p-focus {
              box-shadow: unset;
              border-color: var(--main-color);
            }

            &.p-highlight {
              border-color: var(--main-color);
              background: var(--main-color);
            }

            &:hover {
              border-color: var(--main-color);
            }
          }
        }
      }
    }
  }
}
