<app-home-navbar></app-home-navbar>

<section class="product-details-section mb-5">
  <div class="container">
    <div class="blurred-balls"></div>

    <div class="breadcrumb">
      <p-breadcrumb [model]="items" [home]="home">
        <ng-template pTemplate="item" let-item>
          <a>
            {{ item.label }}
          </a>
        </ng-template>
        <ng-template pTemplate="separator"> / </ng-template>
      </p-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="product-preview overflow-hidden">
          <div class="product-main-image">
            <swiper-container
              #GallerySwiper
              class="mySwiper"
              thumbs-swiper=".mySwiper2"
              space-between="10"
            >
              <swiper-slide *ngFor="let image of images">
                <img [src]="image" />
              </swiper-slide>
            </swiper-container>
          </div>
          <div class="product-images-thumbnails">
            <swiper-container
              class="mySwiper2 mt-4 px-4 py-3 rounded-4"
              space-between="20"
              slides-per-view="5"
              free-mode="true"
              [breakpoints]="productImagesBreakpoints"
              watch-slides-progress="true"
            >
              <swiper-slide *ngFor="let image of images">
                <img [src]="image" />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-information">
          <div class="product-title">
            <h2>Modern Canvas Painting</h2>
            <div class="product-rating d-flex align-items-end">
              <span class="stars me-2 fs-4 d-flex align-items-center gap-1">
                <i class="fa-solid fa-star star-color"></i>
                <i class="fa-solid fa-star star-color"></i>
                <i class="fa-solid fa-star star-color"></i>
                <i class="fa-solid fa-star star-color"></i>
              </span>
              <span class="total-reviews">(2 customer reviews)</span>
            </div>
          </div>

          <p class="product-price my-4 fs-5">
            <span class="text-decoration-line-through pre-offer-price">{{
              435 | currency : " "
            }}</span>
            <span class="heading-color fs-4 ms-1">{{
              350 | currency : "SAR "
            }}</span>
          </p>

          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur. Arcu ridiculus faucibus in
            vitae risus malesuada convallis nulla. Pulvinar justo risus viverra
            tincidunt. Risus amet in ac ornare gravida quis pellentesque
            rhoncus. Et faucibus varius at tellus ac fames ut molestie.
          </p>

          <div class="product-specifications">
            <div class="specifications">
              <div class="item my-3" *ngFor="let item of [1, 2, 3]">
                <h6>Material :<span class="fw-light">Canvas Printing</span></h6>
                <ul class="p-0 m-0 d-flex align-items-center gap-2">
                  <li class="rounded-1 active">Canvas Printing</li>
                  <li class="rounded-1">Vinyl Printing</li>
                </ul>
              </div>
            </div>
          </div>

          <div
            class="actions pb-5 my-4 d-flex align-items-center gap-3 border-bottom"
          >
            <div
              class="quantity rounded-5 d-flex align-items-center justify-content-between gap-2 px-2"
            >
              <span class="fw-semibold fs-6 pointer">-</span>
              <input
                class="py-2 text-center fs-5 fw-bold"
                type="number"
                value="1"
                min="1"
                max="10"
              />
              <span class="fw-semibold fs-6 pointer">+</span>
            </div>

            <button class="main-btn px-4 py-2 rounded-5 fw-semibold">
              <i class="fa-solid fa-cart-shopping"></i>
              Add to cart
            </button>

            <div class="btn whatsapp-order">
              Order by <i class="fa-brands fa-whatsapp ms-3"></i>
            </div>
          </div>

          <div class="mb-2 product-details mt-4">
            <p class="mb-2 product-id">SKU: <span>B2003</span></p>
            <p class="mb-2 product-categories">
              Categories: <span>Abstract, flowers, art ...</span>
            </p>
            <p>
              share:
              <span>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-facebook-messenger"></i>
                <i class="fa-brands fa-whatsapp"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product-information-section pb-5">
  <div class="container">
    <nav>
      <ul
        class="m-0 p-0 d-flex justify-content-center align-items-center gap-5"
      >
        <li
          class="text-uppercase pointer py-5 fs-5"
          (click)="changeActiveSection('product-description')"
          [class.activeSection]="activeSection === 'product-description'"
        >
          additional information
        </li>
        <li
          class="text-uppercase pointer py-5 fs-5"
          (click)="changeActiveSection('product-reviews')"
          [class.activeSection]="activeSection === 'product-reviews'"
        >
          reviews(1)
        </li>
        <li
          class="text-uppercase pointer py-5 fs-5"
          (click)="changeActiveSection('product-delivery')"
          [class.activeSection]="activeSection === 'product-delivery'"
        >
          shipping & delivery
        </li>
      </ul>
    </nav>

    <div
      class="info-box overflow-hidden py-2"
      [class.activeSection]="activeSection === 'product-description'"
    >
      <div
        class="title d-none align-items-center justify-content-between mb-3"
        (click)="changeActiveSection('product-description')"
      >
        <h5 class="h4 mb-0 text-uppercase">Additional information</h5>
        <span><i class="fa-solid fa-chevron-down"></i></span>
      </div>
      <app-product-description
        *ngIf="activeSection === 'product-description'"
      ></app-product-description>
    </div>

    <div
      class="info-box overflow-hidden py-2"
      [class.activeSection]="activeSection === 'product-reviews'"
    >
      <div
        class="title d-none align-items-center justify-content-between mb-3"
        (click)="changeActiveSection('product-reviews')"
      >
        <h5 class="h4 mb-0 text-uppercase">Reviews(1)</h5>
        <span><i class="fa-solid fa-chevron-down"></i></span>
      </div>
      <app-product-reviews
        *ngIf="activeSection === 'product-reviews'"
      ></app-product-reviews>
    </div>

    <div
      class="info-box overflow-hidden py-2"
      [class.activeSection]="activeSection === 'product-delivery'"
    >
      <div
        class="title d-none align-items-center justify-content-between mb-3"
        (click)="changeActiveSection('product-delivery')"
      >
        <h5 class="h4 mb-0 text-uppercase">SHIPPING & DELIVERY</h5>
        <span><i class="fa-solid fa-chevron-down"></i></span>
      </div>
      <app-shipping-delivery
        *ngIf="activeSection === 'product-delivery'"
      ></app-shipping-delivery>
    </div>
  </div>
</section>

<app-footer></app-footer>
