<div *ngIf="addresses.length > 0; else emptyAddresses">
  <div class="addresses" *ngIf="!isChildRouteActive">
    <button
      class="main-btn outlined px-4 py-2 rounded-5 fs-5 ms-auto mb-4"
      routerLink="add-address"
    >
      {{ "Account.Addresses.addNewAddressButton" | translate }}
    </button>

    <div class="row g-4">
      <div class="col-lg-6" *ngFor="let address of addresses">
        <div class="address p-3">
          <div
            class="address-type mb-4 d-flex justify-content-between align-items-center"
          >
            <h6 class="mb-0">
              {{
                (address.billingAddress ?? address.billingAddress) ||
                  "Billing Address"
              }}
            </h6>

            <p
              class="mb-0 d-flex align-items-center gap-1 pointer"
              [routerLink]="['edit-address', address.id]"
            >
              <img src="./assets/images/icons/pencil.png" alt="edit icon" />
              {{ "Account.Addresses.editAddress" | translate }}
            </p>
          </div>

          <div class="address-details">
            <p class="mb-2 name">{{ address.fullName }}</p>
            <p class="mb-2 company">{{ address.companyName }}</p>
            <p class="mb-2 street-number">{{ address.streetAddress }}</p>
            <p class="mb-2 street-details">{{ address.addressText }}</p>
            <p class="mb-2 state">{{ address.state }}</p>
            <p class="mb-2 city">{{ address.city }}</p>
            <p class="mb-2 postal-code">{{ address.zipCode }}</p>
            <p class="mb-2 county">{{ address.country }}</p>
            <p class="mb-2 county">{{ address.phone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyAddresses>
  <div
    class="empty d-flex flex-column align-items-center justify-content-center gap-3"
    *ngIf="!isChildRouteActive"
  >
    <img class="mx-auto" src="./assets/images/emptyAddresses.svg" alt="image" />
    <h3 class="text-center">No Addresses Set .</h3>

    <button
      class="main-btn mx-auto px-5 py-2 rounded-5 fs-4"
      routerLink="add-address"
    >
      {{ "Account.Addresses.addNewAddressButton" | translate }}
    </button>
  </div>
</ng-template>
<router-outlet></router-outlet>
