<div class="addresses" *ngIf="!isChildRouteActive">
  <button
    class="main-btn outlined px-4 py-2 rounded-5 fs-5 ms-auto mb-4"
    routerLink="add-address"
  >
    + add New address
  </button>

  <div class="row g-4">
    <div class="col-lg-6" *ngFor="let item of [1, 2]">
      <div class="address p-3">
        <div
          class="address-type mb-4 d-flex justify-content-between align-items-center"
        >
          <h6 class="mb-0">Billing address</h6>

          <p
            class="mb-0 d-flex align-items-center gap-1 pointer"
            routerLink="edit-address"
          >
            <img src="./assets/images/icons/pencil.png" alt="edit icon" />
            edit
          </p>
        </div>

        <div class="address-details">
          <p class="mb-2 name">adel saudi</p>
          <p class="mb-2 company">my company</p>
          <p class="mb-2 street-number">33 khlal ibriam</p>
          <p class="mb-2 street-details">ainshams, alf maskan, flastin</p>
          <p class="mb-2 state">cairo</p>
          <p class="mb-2 city">Cairo</p>
          <p class="mb-2 postal-code">123456</p>
          <p class="mb-2 county">Egpyt</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
