.addresses {
  .address {
    background: #292929a1;
    border-radius: 6px;
    border: 1px solid #363636;
    .address-type {
      p {
        color: #ffffff80;
        img {
          width: 20px;
        }
      }
    }

    .address-details {
      p {
        color: var(--paragraph-text-color);
      }
    }
  }
}
