<div class="form-wrapper p-5">
  <i class="fa-solid fa-xmark close-icon" (click)="close()"></i>

  <h2 class="mb-4 mt-3 text-center">Forgot your password?</h2>

  <div class="form-container w-100">
    <form (ngSubmit)="onSubmit()">
      <div class="inputs-container mb-3">
        <!-- email field -->
        <div class="input-box my-3">
          <label for="emailInput" class="mb-3"> Email </label>
          <div
            [class.error]="
              forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched
            "
            class="input-field d-flex gap-2 align-items-center px-4"
          >
            <input
              tabindex="-1"
              class="py-3"
              formControlName="email"
              name="emailInput"
              type="email"
              placeholder="enter your email to reset password ...
"
            />
          </div>

          <div
            class="alerts"
            *ngIf="
              forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched
            "
          >
            <p
              class="text-danger mb-1"
              *ngIf="forgotPasswordForm.get('email')?.getError('required')"
            >
              Email address is required
            </p>
          </div>
        </div>
      </div>

      <button
        class="main-btn fw-bold rounded-5 w-100 py-3 d-flex align-items-center gap-2 justify-content-center"
      >
        send Reset link
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </form>

    <p class="mb-0 text-center mt-5">
      Don't have account?
      <span (click)="openSignupForm()" class="fw-bold heading-color"
        >Sign up</span
      >
    </p>
  </div>
</div>
