<form class="checkout-form">
  <div class="form-group mb-3">
    <label for="billing-address" class="form-label fw-bold"
      >Billing address <span class="text-danger">*</span>
    </label>
    <input type="text" class="form-control" id="billing-address" />
    <p class="mb-0 mt-2">This show in address list title</p>
  </div>

  <div
    class="form-group d-flex align-items-center justify-content-center gap-3 mb-3"
  >
    <div class="input-container w-100">
      <label for="fname" class="form-label fw-bold"
        >First Name <span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        placeholder="First"
        id="fname"
        required
      />
    </div>

    <div class="input-container w-100">
      <label for="lname" class="form-label fw-bold"
        >Last Name <span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        placeholder="Last"
        id="lname"
        required
      />
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="company" class="form-label fw-bold"
      >Company name (optional)
    </label>
    <input type="text" class="form-control" id="company" />
  </div>

  <div class="form-group mb-3">
    <label for="region" class="form-label fw-bold d-block"
      >country / region <span class="text-danger">*</span>
    </label>
    <select name="region" id="region" class="w-100 form-select" required>
      <option value="" disabled selected>Select a country / region</option>
      <option value="1">Country 1</option>
      <option value="2">Country 2</option>
      <option value="3">Country 3</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="street" class="form-label fw-bold"
      >Street address <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control mb-3"
      id="street"
      placeholder="House number and street name"
      required
    />
    <input
      type="text"
      class="form-control"
      id="apartment"
      placeholder="Apartment, suite ,unit , etc (optional )"
    />
  </div>

  <div class="form-group mb-3">
    <label for="city" class="form-label fw-bold"
      >City / Town <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="city"
      placeholder="Cairo"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="state" class="form-label fw-bold d-block"
      >state / country <span class="text-danger">*</span>
    </label>
    <select name="state" id="state" class="w-100 form-select" required>
      <option value="" disabled selected>Select option</option>
      <option value="1">State 1</option>
      <option value="2">State 2</option>
      <option value="3">State 3</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="postcode" class="form-label fw-bold"
      >postcode / zip <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="postcode"
      placeholder="Town postal code"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="phone" class="form-label fw-bold"
      >Phone <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="phone"
      placeholder="Phone number"
      required
    />
  </div>

  <button class="main-btn px-5 py-2 rounded-5 fw-semibold fs-5 mt-5 mb-4">
    Save Address
  </button>
</form>
