<app-home-navbar></app-home-navbar>

<section class="cart my-lg-5 my-3">
  <div class="container">
    <div
      class="bread-crumb d-flex justify-content-start align-items-center mb-4"
    >
      <p-breadcrumb [model]="items" [home]="home" />
    </div>

    <div class="shopping-cart">
      <div class="row gx-4 gy-3">
        <div class="col-lg-8">
          <div class="cart-details">
            <app-desktop-cart-table
              (cartItemsChanged)="onCartItemsChanged($event)"
            ></app-desktop-cart-table>
            <app-mobile-cart-table
              (cartItemsChanged)="onCartItemsChanged($event)"
            ></app-mobile-cart-table>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="order-summary py-5 px-4 rounded-2">
            <h4 class="fw-bold mb-4">Cart totals</h4>

            <div
              class="subtotal border-bottom d-flex justify-content-between align-items-center py-2 mb-4"
            >
              <h4 class="mb-0">Subtotal:</h4>
              <p class="mb-0">
                {{ cartDetails.totalPrice | currency : "RSA " }}
              </p>
            </div>

            <div
              class="shipping border-bottom d-flex justify-content-between align-items-center py-2"
            >
              <h4 class="mb-0">Shipping</h4>
              <div>
                <p class="text-end fs-5 mb-2">Free shipping</p>
                <!-- <p class="text-end mb-2">Shipping to Riyadh</p>
                <p class="text-end mb-0 text-decoration-underline pointer">
                  Change address
                </p> -->
              </div>
            </div>

            <div
              class="total d-flex justify-content-between align-items-center py-4"
            >
              <h4 class="fw-bold mb-0">Total</h4>
              <p class="mb-0 fw-bold fs-4 total-price">
                {{ cartDetails.totalPrice | currency : "RSA " }}
              </p>
            </div>
            <button
              class="main-btn py-3 px-4 rounded-5 w-100 text-uppercase fw-bold"
              routerLink="/checkout"
            >
              PROCEED TO CHECKOUT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners-slider overflow-hidden my-5 py-5">
  <ul
    class="list m-0 p-0 d-flex mb-4"
    [ngStyle]="{
      '--quantity': partners.length,
      '--width': '180px',
      '--height': '80px'
    }"
  >
    <li
      *ngFor="let partner of partners; let i = index"
      class="partner-link pointer d-flex align-items-center justify-content-center rounded-3 py-3"
      [ngStyle]="{ '--position': i + 1 }"
    >
      <img [src]="partner.image" alt="partner logo" />
    </li>
  </ul>

  <ul
    class="list m-0 p-0 d-flex"
    [ngStyle]="{
      '--quantity': partners.length,
      '--width': '180px',
      '--height': '80px'
    }"
  >
    <li
      *ngFor="let partner of partners; let i = index"
      class="partner-link reversed pointer d-flex align-items-center justify-content-center rounded-3 py-3"
      [ngStyle]="{ '--position': i + 1 }"
    >
      <img [src]="partner.image" alt="partner logo" />
    </li>
  </ul>
</section>

<app-footer></app-footer>
