.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.cart-overlay {
  width: 450px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #1e1e1e;
  .overlay-heading {
    &.border-bottom {
      border-color: #cccccc6e !important;
    }
    button {
      background-color: transparent;
      color: #cccccc6e;
      border: 0;
      outline: 0;
    }
  }
  .products {
    max-height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    .product {
      background: #ffffff0d;

      .product-image {
        min-width: 116px;
        height: 145px;
      }

      .product-description {
        position: relative;
        .remove-product-btn {
          position: absolute;
          top: -5px;
          right: 0;
          width: 25px;
          height: 25px;
          border-radius: 10px;
          background-color: #ca6161;
          border: 0;
          outline: 0;
          color: var(--dark-text);
        }

        h3 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
        p.product-dimensions {
          font-size: 0.78rem;
          color: #dbdbdb;
        }
      }

      .product-quantity {
        .quantity-control {
          .btn {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background: #d9d9d9;
            color: var(--dark-text);
            font-size: 0.75rem;
          }
          input {
            width: 35px;
            background-color: transparent;
            outline: none;
            border: 0;
            color: var(--white-text);
            font-size: 0.9rem;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        p {
          font-size: 1.2rem;
          color: var(--main-color);
          span {
            color: #969696;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cart-overlay {
    width: 300px;

    .products {
      height: 60%;
      .product {
        .product-image {
          min-width: 71px;
          min-height: 95px;
          max-height: 95px;
        }

        .product-description {
          .remove-product-btn {
            width: 20px;
            height: 20px;
            border-radius: 8px;
            font-size: 0.6rem;
          }

          h3 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.63rem;
          }
          p.product-dimensions {
            font-size: 0.5rem;
          }
        }

        .product-quantity {
          .quantity-control {
            .btn {
              width: 18.86px;
              height: 18.86px;
              font-size: 0.5rem;
            }
            input {
              width: 25px;
              font-size: 0.68rem;
            }
          }

          p {
            font-size: 0.75rem;
            span {
              font-size: 0.63rem;
            }
          }
        }
      }
    }

    .cart-controls {
      h5,
      p {
        font-size: 1.2rem !important;
      }
      button {
        font-size: 0.7rem;
      }
    }
  }
}
