<div class="account-details">
  <form
    class="account-details-form"
    [formGroup]="userInfo"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="form-group d-flex align-items-center justify-content-center gap-3 mb-3"
    >
      <div class="input-container w-100">
        <label for="fname" class="form-label fw-bold"
          >{{ "Account.AccountDetails.form.firstName.label" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          [placeholder]="
            'Account.AccountDetails.form.firstName.placeholder' | translate
          "
          formControlName="firstName"
          id="fname"
          required
        />
      </div>

      <div class="input-container w-100">
        <label for="lname" class="form-label fw-bold"
          >{{ "Account.AccountDetails.form.lastName.label" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          [placeholder]="
            'Account.AccountDetails.form.lastName.placeholder' | translate
          "
          id="lname"
          formControlName="lastName"
          required
        />
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="username" class="form-label fw-bold"
        >{{ "Account.AccountDetails.form.displayName.label" | translate }}
      </label>
      <input
        type="text"
        class="form-control mb-2"
        id="username"
        formControlName="displayName"
      />
      <p class="mb-0">
        {{ "Account.AccountDetails.form.displayName.info" | translate }}
      </p>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label fw-bold"
        >{{ "Account.AccountDetails.form.email.label" | translate }}
      </label>
      <input
        type="email"
        class="form-control mb-3"
        id="street"
        [value]="email"
        disabled
      />
    </div>

    <div class="form-group mb-3">
      <label for="password-change" class="form-label fw-bold"
        >{{ "Account.AccountDetails.form.passwordChange.title" | translate }}
      </label>
      <div
        class="input-container mb-3 d-flex align-items-center justify-content-between form-control"
      >
        <input
          type="password"
          [type]="currentPasswordVisibility ? 'text' : 'password'"
          class="password-input w-100"
          formControlName="oldPassword"
          [placeholder]="
            'Account.AccountDetails.form.passwordChange.currentPassword.placeholder'
              | translate
          "
        />

        <img
          (click)="togglePasswordVisibility('current_password')"
          class="eye"
          [src]="
            currentPasswordVisibility
              ? 'assets/images/icons/closed-eye.png'
              : 'assets/images/icons/opened-eye.png'
          "
          alt="opened eye icon"
        />
      </div>
      <div
        class="input-container mb-3 d-flex align-items-center justify-content-between form-control"
      >
        <input
          type="password"
          [type]="newPasswordVisibility ? 'text' : 'password'"
          class="password-input w-100"
          formControlName="newPassword"
          [placeholder]="
            'Account.AccountDetails.form.passwordChange.newPassword.placeholder'
              | translate
          "
        />

        <img
          (click)="togglePasswordVisibility('new_password')"
          class="eye"
          [src]="
            newPasswordVisibility
              ? 'assets/images/icons/closed-eye.png'
              : 'assets/images/icons/opened-eye.png'
          "
          alt="opened eye icon"
        />
      </div>
      <div
        class="input-container mb-3 d-flex align-items-center justify-content-between form-control"
      >
        <input
          type="password"
          [type]="confirmPasswordVisibility ? 'text' : 'password'"
          class="password-input w-100"
          formControlName="confirmPassword"
          [placeholder]="
            'Account.AccountDetails.form.passwordChange.confirmPassword.placeholder'
              | translate
          "
        />

        <img
          (click)="togglePasswordVisibility('confirm_password')"
          class="eye"
          [src]="
            confirmPasswordVisibility
              ? 'assets/images/icons/closed-eye.png'
              : 'assets/images/icons/opened-eye.png'
          "
          alt="opened eye icon"
        />
      </div>
    </div>

    <button class="main-btn px-5 py-2 fs-4 rounded-5">
      {{ "Account.AccountDetails.form.saveButton.text" | translate }}
    </button>
  </form>
</div>
