.account-details {
  .form-group {
    .form-control,
    .form-select,
    .password-input {
      background: #2b2b2b;
      border: 1px solid #2b2b2b;
      padding: 0.9rem 0.8rem;
      color: var(--white-text);
      border-radius: 10px;

      img {
        width: 25px;
        height: 25px;
        &.eye {
          cursor: pointer;
        }
      }

      &:focus {
        border-color: var(--white-text);
        box-shadow: unset;
      }

      &::placeholder {
        color: var(--paragraph-text-color);
      }

      &:disabled {
        background: #222222;
        color: var(--paragraph-text-color);
        cursor: no-drop;
      }

      &.error {
        border-color: var(--danger-color);
      }
      &.success {
        border-color: var(--success-color);
      }
    }

    .password-input {
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: none;
      border-radius: 0px;
    }

    p {
      color: var(--paragraph-text-color);
    }
  }
}
