<div
  class="item d-flex align-items-start gap-3 p-3 rounded-3 mb-3"
  *ngFor="let item of cartDetails.cartItems"
>
  <!-- Product Image -->
  <div class="product-image rounded-2 overflow-hidden">
    <img
      [src]="'https://ctrl-p.runasp.net/' + item.productDetails.url[0]"
      alt="product image"
    />
  </div>

  <!-- Product Details -->
  <div class="product-details w-100 mb-2">
    <!-- Product Name -->
    <div
      class="title d-flex align-items-center justify-content-between w-100 mb-3"
    >
      <h4 class="mb-0 text-decoration-underline fw-semibold h5">
        {{ item.productDetails.name }}
      </h4>
      <i
        class="fa-solid fa-xmark fs-4 pointer"
        (click)="removeCartItem(item.productId)"
      ></i>
    </div>

    <!-- Product Size -->
    <p
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1 border-bottom"
    >
      Size: <span>60x80</span>
    </p>

    <!-- Product Material -->
    <p
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1 border-bottom"
    >
      Material: <span>قماش كانفس</span>
    </p>

    <!-- Product Frame -->
    <p
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1 border-bottom"
    >
      Frame: <span>+ frame</span>
    </p>

    <!-- Product Price -->
    <p
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1 border-bottom"
    >
      Price: <span> {{ item.productDetails.price | currency : "RSA " }}</span>
    </p>

    <!-- Product Quantity Control -->
    <div
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1 border-bottom"
    >
      <p class="mb-0">Quantity:</p>
      <div
        class="quantity-input d-flex gap-1 align-items-center justify-content-between rounded-5 px-2"
      >
        <button
          class="btn p-0"
          (click)="changeProductQuantity(item.productId, -1)"
        >
          -
        </button>
        <input type="text" class="text-center" [value]="item.quantity" />
        <button
          class="btn p-0"
          (click)="changeProductQuantity(item.productId, 1)"
        >
          +
        </button>
      </div>
    </div>

    <!-- Product Subtotal -->
    <p
      class="d-flex align-items-center justify-content-between gap-2 w-100 mb-3 pb-1"
    >
      Subtotal:
      <span class="white">
        {{
          item.productDetails.price * item.quantity | currency : "RSA "
        }}</span
      >
    </p>
  </div>
</div>
