<div class="row gy-3">
  <div class="col-lg-7">
    <div class="images d-flex gap-5 align-items-center">
      <div class="image">
        <img src="./assets/images/delivery1.png" alt="image" />
      </div>
      <div class="image">
        <img src="./assets/images/delivery2.png" alt="image" />
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content">
      <h3 class="fs-4 fw-bold mb-5">SHIPPING & DELIVERY</h3>
      <p>
        We offer free delivery across all regions of the Kingdom of Saudi
        Arabia. Each order is carefully packed to ensure it arrives in perfect
        condition.
      </p>
      <ul>
        <li>Delivery Time: 3-7 business days</li>
        <li>Shipping Fee: Free</li>
        <li>Tax: Included in the price</li>
        <li>
          Customization Delivery: Custom sizes or framed paintings may take an
          additional 2-3 business days to process.
        </li>
      </ul>
    </div>
  </div>
</div>
