<div class="row gy-3">
  <div class="col-lg-7">
    <div class="images d-flex gap-5 align-items-center">
      <div class="image">
        <img src="./assets/images/delivery1.png" alt="image" />
      </div>
      <div class="image">
        <img src="./assets/images/delivery2.png" alt="image" />
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="content">
      <h3 class="fs-4 fw-bold mb-5">
        {{
          "productDetails.productInformationSection.shippingAndDelivery.title"
            | translate
        }}
      </h3>
      <p>
        {{
          "productDetails.productInformationSection.shippingAndDelivery.description"
            | translate
        }}
      </p>
      <ul>
        <li>
          {{
            "productDetails.productInformationSection.shippingAndDelivery.details.deliveryTime"
              | translate
          }}
        </li>
        <li>
          {{
            "productDetails.productInformationSection.shippingAndDelivery.details.shippingFee"
              | translate
          }}
        </li>
        <li>
          {{
            "productDetails.productInformationSection.shippingAndDelivery.details.tax"
              | translate
          }}
        </li>
        <li>
          {{
            "productDetails.productInformationSection.shippingAndDelivery.details.customizationDelivery"
              | translate
          }}
        </li>
      </ul>
    </div>
  </div>
</div>
